<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>quizify</title>
	<link rel="stylesheet" href="static/stylesheet.css">
</head>
<body>
	<div class="main">
		<div>
      <h2 id="about" class="text">How we got here:
        We're almost through the year, which means we're almost going to receive Spotify's yearly gift, our Spotify Wrapped! Although this year's playlist isn't available just yet, **data is forever**!
        <br><br>
        What does this app do?
        On the front end, you connect with Spotify and select the correct song that corresponds with the random lyric. Quizify communicates with the Spotify API that returns a user's top fifty songs within the past six months. The data is then stripped down to song and artist, and is passed to a Python library that communicates with the MusixMatch API. From there, information is randomly iterated and presented prettily.
        <br><br>
        Contributions
        We got started with HACK @ UCI's Flask and JS, HTML and CSS workshop. Then, we split into front-end and backend groups. John Lorenzini and Lawrence coded on the front lines, implementing the smooth gradient landing page. On the backend, John Daniel and Anthony implemented the APIs.
        <br><br>
        This wasn't easy, let us tell you.
        <br><br>
        Accomplishments that we're proud of!
        The ability to communicate with multiple APIs, program collaboration with GitHub and Replit, deployment with Heroku... and overall, getting work done!
        <br><br>
        What we learned...
        We learned that we're able to accomplish a lot together in a short amount of time. Using our basic programming experience allowed us to adapt and learn different languages and to understand different libraries. Reading documentation is a must!
        <br><br>
        What's next?
        Implementing a global scoreboard in a database like Firebase, better implementation of secret keys (don't steal our public and private keys, grr), and possible options for smaller and larger text sizes.</h2>
      </h2>
      <a class="play_again" href="/">return</a>
		</div>
	</div>
  <footer id="footer"> Made By: Anthony Cusimano, Lawrence Lu, John Lorenzini, Craig Pedley, John Daniel Norombaba <br><a class="about" href="/about" style="color:#45A29E">About</a></footer>
</body>

</html>