<!DOCTYPE html>

<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>quizify</title>
	<link rel="stylesheet" href="static/stylesheet.css">
</head>
<body>
	<div class="main">
		<div>
      <h1 id="header" class="text">quizify</h1>
      <h2 id="subheader" class="text">how well do you know your music?</h2>
      <a class="button" href="/login">connect with Spotify</a>
		</div>
	</div>
  <footer id="footer"> Made By: Anthony Cusimano, Lawrence Lu, John Lorenzini, Craig Pedley, John Daniel Norombaba</footer>
</body>

</html>