<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>quizify</title>
	<link rel="stylesheet" href="static/stylesheet.css">
  <script>var snippets = "{{snippets}}"</script>
  <script src="static/index.js"></script>

</head>
<body>
  <div class="main">
    <div>
      <div class="break">
        <h1 id="number" class="text"></h1>
        <h2 id="question" class="text"></h2>
        <button id="song1" class="button" onclick="determineWin(song1.innerText)"></button>
        <button id="song2" class="button" onclick="determineWin(song2.innerText)"></button>
        <button id="song3" class="button" onclick="determineWin(song3.innerText)"></button>
        <button id="song4" class="button" onclick="determineWin(song4.innerText)"></button>
      </div>
    </div>
  </div>
</body>

</html>